body {background-image: url(head.jpg); background-repeat: no-repeat; background-size: 1700px;
font-family: Edo; src: url(partials\Edo_SZ_Font_Family_(Fontmirror)\Edo SZ 400.ttf);}

div {position: absolute;
    top: 50%;
    left: 57%;
    transform: translate(-50%, -50%);}

input, button {background: lightblue;}