<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="..\css\asideProducts.css" as="style">
</head>
<body>
    <object>
        <form>
                    <h3>Kategorije za prikazati</h3>
                    <input type="checkbox" name="jakne">
                        <label>Jakne</label><br>
                    <input type="checkbox" name="kušini">
                        <label>Kušini</label><br> 
                    <input type="checkbox" name="parfemi">
                        <label>Parfemi</label><br> 
                    <input type="checkbox" name="čarape">
                        <label>Čarape</label><br>

                        <h3>Cijenovni raspon</h3>
                        <input type="radio" id="crna" name="cijena">
                            <label for="crna">7,99€-24,99€</label><br> 
                        <input type="radio" id="plava" name="cijena">
                            <label for="plava">24,99€-34,99€</label><br> 
                        <input type="radio" value="crvena" name="cijena">
                            <label for="crvena">34,99€-89,99€</label> <br>
            
                        <br>
            <button type="submit">Potvrdi odabir</button>
    </object>
</body>
</html>
