<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="..\css\footer.css" as="style">
</head>
<body>
    <object>
        <table width="100%" border="2px">
            <tr>
                <td>
                    <a href="about.html"><b>NASLOVNICA</b></a>
                </td>
                <td>
                    <a href="about.html"><b>O NAMA</b></a>
                </td>
                <td>
                    <a href="about.html"><b>BLOG</b></a>
                </td>
                <td>
                    <a href="about.html"><b>KOŠARICA</b></a>
                </td>
                <td>
                    <a href="about.html"><b>KONTAKT</b></a>
                </td>
                <td>
                    <a href="about.html"><b>PROIZVODI</b></a>
                </td>
            </tr>
       </table>
       
       <table align="center">
        <tr>
        <td>
            <b>E-mail: info@likeadragon.hr</b> //
            <b>Telefon: 123-456</b>
            <br>
            <b>OIB: 1234567890</b>
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.4080900986296!2d139.7046466!3d35.691573999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cdba56b3bf7%3A0x8b741cc73341edb5!2sIsetan%20Shinjuku!5e0!3m2!1sen!2shr!4v1705242752441!5m2!1sen!2shr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <br>
            Opći uvjeti poslovanja Like a Dragon Web Trgovine (u daljnjem tekstu: Opći uvjeti poslovanja) su sastavljeni sukladno odredbama Zakona o zaštiti potrošača, odredbama Zakona o obveznim odnosima, odredbama Opće uredbe o zaštiti podataka – Uredbe (EU) 2016/679, te odredbama Zakona o elektroničkoj trgovini.
            <br><br>
            Ovim se Općim uvjetima uređuje korištenje Like a Dragon Web Trgovine. Molimo korisnike da pažljivo pročitaju ove uvjete i odredbe prije korištenja. Vaša suglasnost s ovdje navedenim uvjetima i odredbama je dobar preduvjet za izvršavanje kvalitetne kupnje. Preduvjeti su... zanimljivi. To je to.
            <br><br>
            Opći uvjeti zaštite osobnih podataka odnose se na osobne podatke koji se nalaze na web stranici i koji su korištenjem web stranice obrađeni, odnosno prikupljeni i pohranjeni od strane Like a Dragon Web Trgovine. Osobne podatke prikuplja radi sklapanja i ispunjenja ugovora o kupoprodaji, evidencije ostvarenih narudžbi kupaca, jedinstvene identifikacija korisnika, analize poslovanja, marketinga, provedbe sustava nagrađivanja, dostave proizvoda, izrade dokumentacije vezane za kupoprodaju, tehničke podrške te autorizacije plaćanja putem kreditnih i debitnih kartica.
            <br><br>
            Ova stranica upotrebljava kolačiće radi analize korištenja web stranica, unaprjeđenja vašeg korisničkog iskustva te kako bismo vam mogli ponuditi proizvode i usluge koji najbolje odgovaraju vašim interesima. Kako biste upravljali postavkama kolačića, posjetite napredne postavke. Detalje o tome koje kolačiće koristimo i za koju svrhu pročitajte na stranici Politika privatnosti.
            <br><br><br>
            <i>Like a Dragon Web Trgovina</i>
        </td>
        </tr>
        </table>
    </object>
</body>
</html>

